<div class="card-content">
    <div class="card-img">
        <img src="http://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{destino.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Lorem ipsum sit anot consetorye adipissicoon g elig, laobrios, voluptarion, doloras fsdf dfsdfd fds fsd</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>
